body {
  -webkit-font-smoothing: unset !important;
  font-family: -apple-system, system-ui, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial !important;
  font-size: 12px;
  line-height: normal;
  word-break: break-word;
}

html {
  font-size: 12px;
  word-break: break-word;
  text-rendering: optimizeLegibility;
  color: #333;
  background-color: #f4f5f5;
}

* {
  padding: 0;
  margin: 0;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #909090;
  cursor: pointer;
  font-size: 14px;

  &:hover {
    color: #007fff;
  }
}

.container {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 960px;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

:root {
  --juejin-layer-1: #fff;
  --juejin-gray-1-1: #e4e6eb;
  --juejin-font-1: #252933;
}
