body {
  -webkit-font-smoothing: unset !important;
  font-family: -apple-system, system-ui, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial !important;
  font-size: 12px;
  line-height: normal;
  word-break: break-word;
}

html {
  font-size: 12px;
  word-break: break-word;
  text-rendering: optimizeLegibility;
  color: #333;
  background-color: #f4f5f5;
}

* {
  padding: 0;
  margin: 0;

  &:hover {
    &::-webkit-scrollbar-thumb {
      background: hsla(0, 0%, 52.9%, .4);
    }
  }

  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 4px;
  }
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #909090;
  cursor: pointer;
  font-size: 14px;

  &:hover {
    color: #007fff;
  }
}

.container {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 960px;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

.avatar {
  display: inline-block;
  position: relative;
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.block {
  background-color: #fff;
  border-radius: 2px;
}

.shadow {
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 5%);
}

:root {
  --juejin-layer-1: #fff;
  --juejin-gray-1-1: #e4e6eb;
  --juejin-font-1: #252933;
  --juejin-font-3: #8a919f;
  --juejin-background: #f2f3f5;
  --juejin-gray-1-2: rgba(228, 230, 235, 0.5);
  --juejin-font-white: #fff;
  --juejin-danger-1-normal: #f64242;
  --juejin-warning-1-normal: #ff7426;
}
