.pin-list {
  .item {
    box-shadow: unset;
    transition: all .3s ease-in;
    margin-bottom: 8px;

    .pin {
      background-color: #fff;
      border-radius: 4px;
      padding: 20px 20px 0;
      position: relative;

      .pin-header {
        margin-right: 5px;
      }

      .pin-header-row {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      .pin-content-row {
        margin-top: 8px;

        .content-box {
          font-size: 14px;
          color: #17181a;
          overflow: hidden;
          line-height: 20px;

          .content {
            white-space: pre-line;
          }
        }
      }

      .club-digg-row {
        margin-top: 12px;
        display: flex;
      }

      .pin-action-row {
        margin-top: 12px;
        margin-left: -20px;
        margin-right: -20px;
      }

      .middle-row {
        position: relative;
        margin: 8px 0 0 60px;
      }
    }
  }
}
