.main-content {
  min-height: calc(100vh - 130px);

  .card-points-container {
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
    padding-top: 16px;
  }

  .level-privilege-container {
    display: flex;
    justify-content: center;
    margin: 20px 20px 0;
  }

  .growth-task {
    background-color: var(--juejin-layer-1);
    border-radius: 4px;
    margin-top: 1.67rem;

    .today-jscore {
      font-size: 1.167rem;
      color: var(--juejin-font-priv-hint);
      font-weight: 400;
    }
  }
}
